@{
    ViewBag.Title = "Events";
}

<script src="~/Scripts/typeahead.js"></script>


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<link href="~/Scripts/jquery.tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/jquery.tagsinput.js"></script>
<script src="~/Scripts/jquery.tagsinput.min.js"></script>


@section Scripts{

    <script type="text/javascript">
        $('#From').attr("disabled", true);
        $(document).ready(function () {

            var sourceFullView = { url: '/Event/GetDiaryEvents/' };
            var sourceSummaryView = { url: '/Event/GetDiarySummary/' };
            var CalLoading = true;


            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: '/Event/GetDiaryEvents/',

                eventClick: function (calEvent, jsEvent, view) {
                    ClearPopupFormValues();
                    $('#eventID').val(calEvent.id);
                    $('#eventTitle').val(calEvent.title);
                    $('#eventFecha').val(calEvent.fecha);
                    $('#eventTime').val(calEvent.time);
                    $('#eventDuration').val(calEvent.duration);
                    $('#popupEventForm').show();
                    $('#eventTitle').focus();
                },

                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                    if (confirm("Confirm move?")) {
                        UpdateEvent(event.id, event.start);
                    }
                    else {
                        revertFunc();
                    }
                },

                eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                    if (confirm("Confirm change appointment length?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },

                dayClick: function (date, allDay, jsEvent, view) {
                    $('#eventTitle').val("");
                    $('#eventFecha').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                    $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                    ShowEventPopup(date);
                },

                viewRender: function (view, element) {

                    if (!CalLoading) {
                        if (view.name == 'month') {
                            $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                        }
                        else {
                            $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', sourceFullView);
                        }
                    }
                }


            });
            CalLoading = false;


        });


        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupEventForm').hide();
        });

        $('#btnPopupSave').click(function () {

            //validaciones
            if ($('#eventTitle').val() == '') {
                // Si no se cumple la condicion...
                alert('[ERROR] El campo "Nombre evento" no puede quedar vacio');
                return;
            }

            if (!isNaN($('#eventFecha').val())) {
                // Si no se cumple la condicion...
                alert('[ERROR] El campo "Fecha" es invalido');
                return;
            }

            if ($('#eventTime').val() == '00:00') {
                // Si no se cumple la condicion...
                alert('[ERROR] El campo "Hora Programada" no puede quedar vacio');
                return;
            }

            if ($('#eventDuration').val() == '') {
                // Si no se cumple la condicion...
                alert('[ERROR] El campo "La longitud del Evento" no puede quedar vacio');
                return;
            }


            $('#popupEventForm').hide();

            var dataRow = {
                'ID': $('#eventID').val(),
                'Title': $('#eventTitle').val(),
                'NewEventDate': $('#eventFecha').val(),
                'NewEventTime': $('#eventTime').val(),
                'NewEventDuration': $('#eventDuration').val()
            };

            $.ajax({
                type: 'POST',
                url: "/Event/SaveEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('Nuevo Evento Salvado!');

                        ClearPopupFormValues();
                    }
                    else {
                        alert('Error, Evento no pudo ser Salvado!');
                    }
                }
            });

        });

        $('#eventParticipantes').tagsinput({
            type: "POST",
            typeahead: {
                source: function (query) {
                    return $.getJSON('/Event/GetGroupsAndEmails/', { filter: query });
                }
            }
        });

        function ShowEventPopup(date) {
            ClearPopupFormValues();
            $('#popupEventForm').show();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("0");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(EventID, EventStart, EventEnd) {

            var dataRow = {
                'ID': EventID,
                'NewEventStart': EventStart,
                'NewEventEnd': EventEnd
            };

            $.ajax({
                type: 'POST',
                url: "/Event/UpdateEvent",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }

        function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }

        function onChangeTag(input, tag) {
            alert("Changed a tag: " + tag);
        }

        $(function () {            
            $('#tags_3').tagsInput({
                width: 'auto',
                autocomplete_url: '~/Scripts/fake_json_endpoint.html' // jquery ui autocomplete requires a json endpoint

            });


        });

    </script>
}






@Html.ActionLink("Ir a vista de Agenda","Agenda","Event")
<div class="container">

    <div id='calendar' style="width:80%"></div>

</div>


<div id="popupEventForm" class="modal hide" style="display: none;">
    <div class="modal-header"><h3>Agregar Nuevo evento</h3></div>
    <div class="modal-body">
        <form id="EventForm" class="well">
            <input type="hidden" id="eventID">
            <label>Nombre del Evento</label>
            <input type="text" id="eventTitle" placeholder="Title here"><br />
            <label>Fecha Programada</label>
            <input type="text" id="eventFecha"><br />
            <label>Hora programada</label>
            <input type="text" id="eventTime"><br />
            <label>Longitud del Evento (minutes)</label>
            <input type="text" id="eventDuration" placeholder="15"><br />
            <label>Participantes:</label>
            <input id='tags_3' type='text' class='tags' placeholder="groups or users"></p>


            <datalist id="UsersGroups">
                <option value="España" />
                <option value="México" />
                <option value="Argentina" />
                <option value="Perú" />
                <option value="Colombia" />
                <option value="Otro país" />
            </datalist>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancelar</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Guardar evento</button>
    </div>
</div>


