@{
    ViewBag.Title = "Página principal";
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")


<div class="row-fluid">
    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        Bienvenidos a Mhotivo!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

                                                
