﻿@model Mhotivo.Models.Grade

<fieldset>
    <legend>Grados</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EducationLevel)
    </div>

   
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) 
    @Html.ActionLink("Back to List", "Index")
</p>
