<ul class="nav nav-list">
    <li>
        <a href="/User">
            <i class="icon-circle"></i>
            <span class="menu-text"> Usuarios </span>
        </a>
    </li>
    
    
    <li>
        <a href="/Student">
            <i class="icon-circle"></i>
            <span class="menu-text"> Estudiantes </span>
        </a>
    </li>

    <li>
        <a href="/Parent">
            <i class="icon-circle"></i>
            <span class="menu-text"> Padres/Tutores </span>
        </a>
    </li>
    
    <li>
        <a href="/Benefactor">
            <i class="icon-circle"></i>
            <span class="menu-text"> Benefactor </span>
        </a>
    </li>

    <li>
		<a href="/Role">
			<i class="icon-key"></i>
			<span class="menu-text"> Roles de Usuario </span>
		</a>
	</li>

    <li>	

    <li>
        <a href="/Notification">
            <i class="icon-bell-alt"></i>
            <span class="menu-text"> Notificaciones </span>
        </a>
    </li>
    
    <li>
        <a href="/Group">
            <i class="icon-group"></i>
            <span class="menu-text"> Grupos </span>
        </a>
    </li>
    
    <li>
        <a href="/AcademicYear/Management">
            <i class="icon-circle"></i>
            <span class="menu-text"> Administracion </span>
        </a>
    </li>
    
    <li>
		<a href="/Event">
			<i class=" icon-calendar "></i>
			<span class="menu-text"> Eventos </span>
		</a>
	</li>

</ul>
