<ul class="nav nav-list">
    <li>
        <a href="/User">
            <i class="icon-group"></i>
            <span class="menu-text"> Usuarios </span>
        </a>
    </li>

	<li>
		<a href="/Role">
			<i class="icon-key"></i>
			<span class="menu-text"> Roles de Usuario </span>
		</a>
	</li>

    <li>	

	<li>
		<a href="/Home/UnderConstruction">
            <i class="	icon-envelope "></i>
			<span class="menu-text"> Notificaciones </span>
		</a>
	</li>
    
    <li>
		<a href="/Home/UnderConstruction">
			<i class=" icon-calendar "></i>
			<span class="menu-text"> Eventos </span>
		</a>
	</li>
